.App {
  text-align: center;
  
  .tracker-title {
    color: #2e4d4d;
    letter-spacing: 2px;
    margin: 20px;
    font-size: 2.5em;
    font-weight: 400;
  }

  button {
    cursor: pointer;

    &:hover {
      background-color: whitesmoke;
    }
  }
}