.TodoCard {
  border: 1px solid #a3a3a3;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #ebebec;
  background-image: $pattern;
  text-align: left;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
  &:hover {
    box-shadow: $shadow;
    transition: all 200ms ease-in-out;
    width: 81%;
  }

  .todo-title {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .item-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    .item-complete {
      text-decoration: line-through;
    }
  
    .checked-icon {
      background: $checked-icon;    
      @include icons(20px);
    }
  
    .unchecked-icon {
      background: $unchecked-icon;    
      @include icons(20px);
    }
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;

    .delete-todo {
      background: $delete-icon;
      @include icons(25px);
    }
  
    .edit-todo {
      background: $edit-icon;    
      @include icons(25px);
    }
  }

  h1,
  p {
    overflow: scroll;
    max-width: 97%;
  }
}