.TodoCard {
  border: 1px solid #a3a3a3;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #ebebec;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23acacac' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  text-align: left;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;

  .todo-title {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .item-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    .item-complete {
      text-decoration: line-through;
    }
  
    .checked-icon {
      background: url(../images/checked-icon.svg);    
      @include icons(20px);
    }
  
    .unchecked-icon {
      background: url(../images/unchecked-icon.svg);    
      @include icons(20px);
    }
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;

    .delete-todo {
      background: url(../images/delete-icon.svg);
      @include icons(25px);
    }
  
    .edit-todo {
      background: url(../images/edit-icon.svg);    
      @include icons(25px);
    }
  }
}