.TodoCard {
  border: 1px solid #a3a3a3;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;

  .item-complete {
    text-decoration: line-through;
  }

  .checked-icon {
    background: url(../images/checked-icon.svg);    
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  .unchecked-icon {
    background: url(../images/unchecked-icon.svg);    
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  .item-complete,
  .item-incomplete {
    display: inline;
  }
}